<phpunit
        boostrap="vendor/autoload.php"
        colors="true"
        vervose="true   "
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="APP TEST">
            <file>test/PlateTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>